---
layout: ""
page_title: "Provider: Idefix"
description: |-
  The Idefix provider provides resources to interact with the Idefix API.
---

# Idefix Provider

The Idefix provider provides resources to interact with the Idefix API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}